<?xml version="1.0" encoding="UTF-8"?>
<QCARConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="qcar_config.xsd">
  <Tracking>
    <ImageTarget name="tpinclinado" size="200.000000 200.000000" />
    <ImageTarget name="friccion" size="200.000000 200.000000" />
    <ImageTarget name="hooke" size="200.000000 200.000000" />
    <ImageTarget name="slnewtom" size="200.000000 200.000000" />
    <ImageTarget name="proyectil" size="200.000000 200.000000" />
    <ImageTarget name="caidalibre" size="200.000000 200.000000" />
    <ImageTarget name="mrua" size="200.000000 200.000000" />
    <ImageTarget name="mru" size="200.000000 200.000000" />
  </Tracking>
</QCARConfig>
